<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>


	<connectionStrings>
		<add name="con" connectionString="Data Source=PINAKI-PC; Initial Catalog=libraryDB; User Id=sa; Password=123" />
	</connectionStrings>

</configuration>
